.project_main1{
    margin: 7px auto 0;
    width: 90%;
    height: auto;
    transition: 1s;
    a{
        margin: 0 auto;
        display: block;
        width: 90%;
        height: 70vh;
        border-radius: 20px;
        background: url(../../../public/img/kurlyFull.png) no-repeat;
        background-size: cover;
        box-shadow: 0 0 10px rgba(0,0,0,0.10);
        transition: 0.3s;
    }
}