html,body{height: 100vh;}
#root{height: 100vh;}
#ihm{
    display: flex;
    .left{
        width: 30%;
        height: 100vh;
        position: relative;
        background: #d8cdb86c;
        overflow: hidden;
        padding: 4rem 3.75rem;
        h2{
            text-align: center;
            font-family: 'Pretendard-Regular';
            font-size: 4rem;
            color: #333;
            margin-bottom: 40px;
            line-height: 0.9;
        }
        #projectInfo{
            .infoBox{
                width: 100%;
                height: 760px;
                background: #fff;
                border-radius: 40px;
                box-shadow: 2px 2px 8px rgba(0,0,0,0.10);
                padding: 40px 30px 40px 20px;
                position: relative;
                font-family: 'Nunito Sans', sans-serif;
                cursor: default;
                h3{
                    font-size: 1.2rem;
                    margin-bottom: 40px;
                }
                .toggle{
                    /* width: 310px; */
                    margin-bottom: 40px;
                    position: relative;
                    margin-left: 10px;
                    text-align: justify;
                    h4{
                        font-size: 1.2rem;
                        position: relative;
                        margin:0 0 10px 10px;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 26px;
                            height: 26px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -34px;
                            background: url(../../../public/img/toggle1.png) no-repeat;
                            background-size: cover;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: -10px;
                            left: -40px;
                            width: 110%;
                            height: 1px;
                            background: #ddd;
                        }
                    }
                    span{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .right{
        overflow: hidden;
        width: 70%;
        height: 100vh;
        padding: 4rem 3.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .p_imgBox{
            width: 1200px;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.10);
            overflow-y: scroll;
            overflow-x: hidden;
            cursor: ne-resize;
        }
    }
}

.hidden{
    display: none;
}
